html {
    font-family: 'Google Sans';
    background: #F9F9F9;
}

table {
    background: #FFFFFF;
}

@font-face {
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}


/* Topo da Página */


header {
    width: 70%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Google Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.evento {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    color: #bdbdbd;
    top: 16px;
    margin-left: 10px;
}


/* Perfil do Usuário */

.menu {
    border-collapse: collapse;
    width: 70%;
    margin: 0 auto;
}

.menu th {
    padding: 15px;
    text-align: left;
    margin-left: 30px;
    padding-left: 30px;
}

th:first-child {
    width: 25%;
    font-size: 28px;
    font-family: 'Google Sans';

}

.form-title {
    text-align: left;
    box-sizing: border-box;
    padding: 15px 15px 15px 15px;
    color: #FFFFFF;
    font-size: 28px;
    background: #526CFD;
}

a {
    text-decoration: none;
    color: #707070;
    font-size: 20px;
    margin-left: 20px;
}

th {
    border-collapse: collapse;
    color: #707070;
    font-size: 20px;
    border: 1px solid #BCBCBC;
}

th:first-child {
    border-bottom-color: white;
}

/* Opções no menu lateral esqeurdo */
table {
    border: 1px solid #BCBCBC;
}

table tr th:first-child {
    width: 20%;
}

td:first-child {
    float: left;
    margin-left: 0;
}

td:last-child {
    border: 1px solid #BCBCBC;
}


td a {
    display: flex;
    flex-direction: column;
}
a:first-child{
    margin-top: 20px;
}
/*Eestilização Evento*/
#graphs1 {
    position: absolute;
    display: inline-block;
    margin-top: 15pxs;
    width: 10%;
    margin: 18px 5px 5px 5px;
}
#google {
    position: relative;
    display: inline-block;
    color: #BCBCBC;
    font-size: 30px;
    margin-left: 15px;
    margin-top: 33px;
}

#google2 {
    position: relative;
    display: inline-block;
    color: #BCBCBC;
    font-size: 30px;
    margin: 5px;
    margin-top: 33px;    
    margin-left: 20%;
}

.letrasmini {
    font-size: 12px;
    color: #707070;
    margin-left: 15px;
    margin-top: 30px;
}

.letrasmini2 {
    display: inline;
    font-size: 12px;
    color: #707070;
    margin-left: 25px;
    margin-top: 15px;
}


#dados {
    display: inline;
    border: none;
    border-bottom: 2px solid #707070;
    margin: 0 0 0 25px;
    padding: 2% 2%;
    margin-bottom: 50%;
}

footer {
    box-sizing: border-box;
    height: 100%;
    font-size: 20px;
    color: #BDBDBD;
    padding: 50px 40px 50px 40px;
    margin-left: 80%;
}

.icon{
    color: #BDBDBD;
}