@font-face{
    font-family: 'Google Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
}

/* Topo da Página */


header {
    width: 80%;
    margin: 0 auto;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: 'Google Sans';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
button{
    height: 80%;
    color: #FFFFFF;
    background-color: #F6C83D;
    border: solid #F6C83D 1px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px 10px 15px;
    font-size: 16px;
}

.evento {
    position: absolute;
    font-size: 20px;
    display: inline-block;
    color: #bdbdbd;
    top: 16px;
    margin-left: 10px;
}

/* Seção Principal */


.middle{
    font-family: 'Google Sans';
    color: #BCBCBC;
    text-align: center;
    box-sizing: border-box;
}
#google{
    padding-top: 40px;
    font-size: 50px;
    margin: 5px;
}
#extended{
    font-size: 45px;
    margin: 0px;
}
#ilheus{
    font-size: 16px;
    margin: 8px;
    padding-bottom: 3px;
}
#io18{
    font-size: 14px;
    margin: 8px;
}
#ioilheus{
    font-size: 14px;
    margin: 0 0 15px 0;
}

/* Fórmulário de inscrição */


form{
    font-family: 'Google Sans';
    box-sizing: border-box;
    height: 1005px;
    width: 500px;  
    margin:0 auto;  
    border: 2px solid #000000;
}
.cadastromini{
    background: #FFD500;
    padding: 15px 15px;
    font-size: 26px;
    color: #ffffff;
}
.letrasmini{
    font-size: 12px;
    color: #707070;
    margin-left: 15px;
    margin-top: 15px;
}
::placeholder{
    color: #EEEEEE;
}
form{
    border: none;
    background: #F9F9F9;
}
#dados{
    background: #F9F9F9;
    width: 90%;
    border: none;
    border-bottom: 2px solid #707070;
    margin: 3% 3% 0 3%;
    padding: 2% 2%;
}
#dados{
    font-size: 16px;
}
.escolha{
    display: inline-block;
    color:#BDBDBD;
    font-size: 20px;
    margin-top: 2%;
}
.lista{
    display: inline-block;
    margin-left: 3%;
    margin-top: 3%;
}
#senha{    
    background: #F9F9F9;
    width: 40%;
    border: none;
    border-bottom: 2px solid #707070;
    padding: 2% 2%;
    margin: 2%;
    font-size: 20px;
}
ul a{
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
    background: #526CFD;
    color: #FFFFFF;
    padding: 15px 40px 15px 40px;    
    margin-left: 3%;
}
footer{
    background: #FAFAFA;
}
.icones li{
    margin: 15px;
}
.icones{
    height: 40px;
    font-size: 20px;
    color: #BDBDBD;
    padding: 50px 40px 40px 40px;
    margin-left: 80%;
    margin-top: 35px;    
}